

*,*:after, *:before{
    margin:0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

*/

#contenedor_carga{
    background-color:rgba(250,240,245,0.2);
    height: 60%;
    width: 60%;
    position: fixed;
    -webkit-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
    z-index: 100000;
}

#carga{
    border: 15px solid #ccc;
    border-top-color: #f4266A;
    border-top-style: groove;
    height: 60px;
    width: 60px;
    border-radius: 100%;

    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;

    -webkit-animation: girar 1.5s linear infinite;
        -o-animation: girar 1.5s linear infinite;
        animation: girar 1.5s linear infinite

}

@keyframes girar{
    from{ transform: rotate(0deg);}
    to {transform: rotate(365deg);}
}

